.wrapper {
  position: relative;
  width: 100%;
  font-family: var(--font-family-main);
  overflow-x: hidden;
  box-sizing: border-box;
}
.card__container {
  display: flex;
  margin-top: var(--space-high);
  width: 100%;
  overflow: hidden;
}

.card__img {
  width: 170px;
  height: 200px;
  border-radius: var(--br-high);
  transition: var(--transition-standart);
}

.card {
  margin-right: var(--space-high);
  transition: 1s;
  text-decoration: none;
  max-width: 190px;
}
.button__container {
  display: flex;
}

.card p {
  text-decoration: none;
  color: var(--color-white);
}

.card__img:hover {
  transform: scale(1.1);
}
