.wrapper {
  position: relative;
  width: 100%;
}
.card__container {
  display: flex;
  margin-top: var(--space-high);
  width: 100%;
  overflow: hidden;
}

.card__img {
  width: 160px;
  height: 200px;
  border-radius: var(--br-high);
  transition: var(--transition-standart);
}

.card {
  min-width: 170px;
  margin-right: 20px;
  transition: 1s;
  text-decoration: none;
}
.button__container {
  display: flex;
}

.card p {
  text-decoration: none;
  color: var(--color-white);
}

.card__img:hover {
  transform: scale(1.1);
}
