.accordeonIcon,
.accordeonIcon_hide {
  width: 25px;
  height: 20px;
  transition: var(--transition-standart);
  z-index: 2;
  margin-top: 18px;
}

.accordeonIcon,
.accordeonIcon_hide:hover {
  cursor: pointer;
}

.accordeonIcon_hide {
  transform: rotate(180deg);
}

.accordeon_wrapper,
.accordeon_wrapper_hide {
  box-sizing: border-box;
  width: 20vw;
  display: flex;
}

.accordeon_wrapper_hide {
  justify-content: flex-start;
  border-right: 2px solid var(--color-black);
}

@media (max-width: 768px) {
  .accordeonIcon {
    display: none;
  }
  .accordeonIcon_hide {
    display: none;
  }
}
