.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  margin-top: var(--space-high);
  box-sizing: border-box;
  background: transparent;
  justify-content: flex-start;
  align-items: center;
  font-family: var(--font-family-main);
  padding-left: var(--space-high);
}

.input {
  width: 200px;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container a {
  text-decoration: none;
  color: var(--color-white);
}

.card {
  width: 100%;
}

.link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  width: 80%;
  border: 2px solid var(--color-gray);
  opacity: 1;
  border-radius: var(--br-high);
  height: 30px;
  padding: var(--space-middle);
  color: var(--color-white);
  transition: 1s all;
  background: inherit;
  box-shadow: inset 0 0px 50px black;
}

.input:focus {
  background: transparent;
}
