.header__container_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.header__container_logo h2 {
  font-size: 24px;
  margin-right: var(--space-middle);
  letter-spacing: 1px;
  color: var(--color-white);
}
