.content {
  display: flex;
  flex-direction: column;
  color: var(--color-white);
  width: 15vw;
  font-family: var(--font-family-main);
  transition: var(--transition-standart);
  box-sizing: border-box;
}
.content_hide {
  overflow: hidden;
  width: 0;
  transition: var(--transition-standart);
}

.accordeon {
  display: flex;
  flex-direction: column;
  transition: var(--transition-standart);
}
.content,
ul {
  list-style-type: none;
  padding-inline-start: var(--space-middle);
}

.content,
li {
  margin-bottom: var(--space-high);
}
.content,
li a {
  text-decoration: none;
  color: var(--color-gray);
  opacity: 0.8;
  transition: var(--transition-standart);
}

.content li a:hover {
  cursor: pointer;
  color: var(--color-white);
}

@media (max-width: 768px) {
  .content {
    width: 100%;
    border-right: none;
    margin-left: var(--space-high);
  }
}
