.subscribe__wrapper {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--color-white);
  margin: 0 auto;
  font-family: var(--font-family-main);
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
}
.info span {
  font-size: var(--fontmid);
}
.info {
  width: 35vw;
}
.wrapper {
  width: 100%;
  margin-bottom: var(--space-high);
}
.subscribe__wrapper button {
  margin-bottom: var(--space-high);
}

@media (max-width: 768px) {
  .info {
    width: 80vw;
  }
  .subscribe__wrapper {
    margin: 5px;
  }
}
