.input {
  width: 80%;
  border: 2px solid var(--color-gray);
  opacity: 1;
  border-radius: var(--br-high);
  height: 30px;
  padding: var(--space-middle);
  color: var(--color-white);
  transition: 1s all;
  background: inherit;
  box-shadow: inset 0 0px 50px black;
}

.input:focus {
  background: transparent;
}
