:root {
  --color-black: black;
  --color-white: white;
  --color-gray: gray;
  --color-blue: blue;
  --color-red: red;
  --color-aquamarine: aquamarine;

  --space-small: 5px;
  --space-middle: 10px;
  --space-high: 20px;

  --br-small: 5px;
  --br-middle: 15px;
  --br-high: 25px;

  --fontsmall: 12px;
  --fontmid: 18px;
  --fonthigh: 28px;

  --transition-standart: all 0.5s cubic-bezier(0, 0, 0, 0);

  --font-family-main: "Roboto", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background: #093028; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #237a57,
    #093028
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #237a57, #093028);
  background: #2c3e50; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #fd746c,
    #2c3e50
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #fd746c,
    #2c3e50
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-repeat: no-repeat;
  background-size: cover;
  cursor: default;
}
