:root {
  --color-black: black;
  --color-white: white;
  --color-gray: gray;
  --color-blue: blue;
  --color-red: red;
  --color-aquamarine: aquamarine;
  --space-small: 5px;
  --space-middle: 10px;
  --space-high: 20px;

  --br-small: 5px;
  --br-middle: 15px;
  --br-high: 25px;

  --fontsmall: 12px;
  --fontmid: 18px;

  --transition-standart: all 0.5s cubic-bezier(0, 0, 0, 0);

  --font-family-main: "Roboto", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background: rgb(43, 5, 5);
  /* background: url(./assets/bg/bgOsn.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  cursor: default;
}
