:root {
  --color-black: black;
  --color-white: white;
  --color-gray: gray;

  --space-small: 5px;
  --space-middle: 10px;
  --space-high: 20px;

  --br-small: 5px;
  --br-middle: 15px;
  --br-high: 25px;

  --font-family-main: "Roboto", sans-serif;
}
body {
  background: var(--color-black);
}
