.button {
  display: inline-block;
  border-radius: var(--br-high);
  background-color: #f4511e;
  border: 1px solid var(--color-gray);
  color: #ffffff;
  text-align: center;
  font-size: var(--fonthigh);
  padding: var(--space-middle);
  width: 90%;
  transition: var(--transition-standart);
  cursor: pointer;
  margin: var(--space-small);
  box-sizing: border-box;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.7s;
}

.button:active {
  box-shadow: 3px 2px 2px black;
}
.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: var(--space-high);
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
